<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="60 seconds">

    <!-- Общие свойства -->
<!--    <property name="LOG_HOME" value="C:\\Путь до Вашей папки с логами"/>-->
    <!-- Единый паттерн -->
    <property name="LOG_PATTERN"
              value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n"/>

    <!-- Включаем базовые настройки Spring Boot -->
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

    <!-- Консольный аппендер -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <!-- Роллинг-файловый аппендер -->
<!--    <appender name="ROLLING" class="ch.qos.logback.core.rolling.RollingFileAppender">-->
<!--        <file>${LOG_HOME}/pizza_website.log</file>-->
<!--        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">-->
<!--            &lt;!&ndash; Ежедневное архивирование &ndash;&gt;-->
<!--            <fileNamePattern>${LOG_HOME}/pizza_website.%d{yyyy-MM-dd}.log</fileNamePattern>-->
<!--            &lt;!&ndash; Хранить логи 30 дней &ndash;&gt;-->
<!--            <maxHistory>30</maxHistory>-->
<!--            &lt;!&ndash; Общий объём файлов не более 5GB &ndash;&gt;-->
<!--            <totalSizeCap>5GB</totalSizeCap>-->
<!--        </rollingPolicy>-->
<!--        <encoder>-->
<!--            <pattern>${LOG_PATTERN}</pattern>-->
<!--        </encoder>-->
<!--    </appender>-->

    <!-- Уровни логирования -->
    <logger name="com.daniilkhanukov" level="DEBUG"/>
    <logger name="org.springframework" level="INFO"/>
    <logger name="org.springframework.web" level="WARN"/>
    <logger name="org.springframework.security" level="WARN"/>
    <logger name="org.springframework.security.web" level="WARN"/>
    <logger name="org.springframework.security.web.FilterChainProxy" level="ERROR"/>
    <logger name="org.springframework.security.web.context.HttpSessionSecurityContextRepository" level="ERROR"/>

    <!-- Корневой логгер -->
    <root level="INFO">
        <appender-ref ref="STDOUT"/>
<!--        <appender-ref ref="ROLLING"/>-->
    </root>

</configuration>